.background-1{
  background-image: url("../assets/images/back-level-1.png");
}
.background-2{
  background-image: url("../assets/images/back-level-2.png");
}
.background-3{
  background-image: url("../assets/images/back-level-3.png");
}
.background-4{
  background-image: url("../assets/images/back-level-4.png");
}

/* ipad */
@media (min-width: 900px) and (max-height: 1200px) {
  .background{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
  }
}

/* lenovo */
@media screen and (max-width: 900px){
  .background{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
  }
}

/* android */
@media screen and (min-height: 1200px) {
  .background{
    background-size: 980px 1419px;
  }
}

.saisie{
  display: inline-block;
  width: 100px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 9em; /* hauteur du parent */
  line-height: 9em; /* hauteur de ligne (identique) */
  white-space: nowrap; /* interdiction de passer à la ligne */
}

.saisie-hidden{
  visibility: hidden;
  height: 0px;
  width: 0px;
  margin: 0;
}

.top {
display: inline-block;
width: 100%;
text-align: center;
padding-top: 40px;
margin-bottom: 50px;
}

.score {
padding: 10px;
font-size: 40px;
color: white;
display: flex;
justify-content: center;
}

#scorejs{
  font-size: 60px;
}

#timer{
  width: 80px;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  height: 80px; /* hauteur du parent */
  line-height: 80px; /* hauteur de ligne (identique) */
  white-space: nowrap; /* interdiction de passer à la ligne */
  font-size: 20px;
  margin-left: 50px;
  float: left;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);


}

.btn-quitter {
  float: right;
  margin-right: 50px;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 50%;
  height: 80px; /* hauteur du parent */
  line-height: 75px; /* hauteur de ligne (identique) */
  white-space: nowrap; /* interdiction de passer à la ligne */
  font-size: 40px;
}

.lien-quitter{
  text-decoration: none;
  outline: none;
  color: #2B2B2B !important;
}

.lien-quitter:active{
  text-decoration: none;
  outline: none;
}

.phrase{
  text-align: center;

  font-size: 50px;
  color: white;
}

.champsemoji{
  padding: 50px;
  text-align: center;
}

.emojiimg{
  cursor: pointer;
  text-align: center;
  height: 6em; /* hauteur du parent */
  line-height: 6em; /* hauteur de ligne (identique) */
  white-space: nowrap; /* interdiction de passer à la ligne */
}

.backemoji{
background-color: rgba(255, 255, 255, 0.8);
width: 100%;
border-radius: 10px;
margin-top: 10%;
}

.backemoji-error{
  background-color: rgba(255, 0, 0, 0.5);
}

.backemoji-good{
  background-color: rgba(0, 255, 0, 0.5);
}

.titregrille{
  text-align: center;
  padding: 10px;
}
