/* ipad */
@media (min-width: 900px) and (max-height: 1200px) {
    body{
      background-image: url('../assets/images/export-back.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center; 
      background-size: cover;
      height: 100%;
    }
}


/* lenovo */
@media screen and (max-width: 900px){
  body {
    background-image: url('../assets/images/export-back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
  }
}

/* android */
@media screen and (min-height: 1200px) {
  body {
    background-image: url('../assets/images/export-back.png');
    background-size: 980px 1419px;
  }
}

#logo{
  margin-top: 200px;
}

.submit{
  border:none;

  background-color: white;
  border-radius: 5px 5px 5px 5px;
  border: 0,5px solid black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
}

.submit:hover{
  cursor: pointer;
  outline: none
}

a{
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  border: 0,5px solid black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bouton {
  margin-top: 10px;
  font-family: helvetica;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

#tuto{
  padding-left: 67px;
  padding-right: 67px;
}


a:link {
 text-decoration:none;
 color:black;
}

a:visited {
  color: black;
}

.name {
text-align: center;
background-color: inherit;
background-color:transparent;
font-family: 'Baloo Bhai', cursive;
}

.hola {
margin-left: auto;
margin-right: auto;
margin-top: 0px;
}

.input_nom[type="text"]
{
    background: transparent;
    border: none;
    color: white;
    font-size: 50px;
    margin-left: 20px;
    width: 60%;
    border-bottom: 1px solid white;
    outline: none;
    text-align: center;

}

.placeholder
{

color: white;
}

::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); text-align: center;}

:-moz-placeholder { /* Firefox 18- */ color: rgba(255, 255, 255, 0.5); text-align: center;}

::-moz-placeholder { /* Firefox 19+ */ color: rgba(255, 255, 255, 0.5); text-align: center;}

:-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); text-align: center;}


.input_nom{
  font-family: 'Baloo Bhai', cursive;
  font-size: 10px;
}

a, .input{
  font-family: 'helvetica', cursive;
}

#tutorial {
width: 300%;

}

#video {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#logo {
  width: 100%;
  text-align: center;
  height: 330px;
}
