body {
	color: white;
}

/* ipad */
@media (min-width: 900px) and (max-height: 1200px) {
    body{
      background-image: url('../assets/images/export-back.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center; 
      background-size: cover;
      height: 100%;
    }
}


/* lenovo */
@media screen and (max-width: 900px){
  body {
    background-image: url('../assets/images/export-back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
  }
}

/* android */
@media screen and (min-height: 1200px) {
  body {
    background-image: url('../assets/images/export-back.png');
    background-size: 980px 1419px;
  }
}

p {
    text-transform: uppercase;
}

.bravo{							/* nom du joueur */
	text-align: center;
	font-size: 40px;
	margin: 0;
	font-family: 'Baloo Bhai';
	margin-top: 15px;
}

.divbouton{            
  text-align: center;
  margin-top: 200px;
}

.divbouton2{						
	text-align: center;
	margin-top: 25px;
}

.btn {
  background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  font-family: 'helvetica';
  color: #000000;
  font-size: 25px;
  padding: 22px 42px 22px 42px;
  text-decoration: none;
}

.btn2 {
  background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  font-family: 'helvetica';
  color: #000000;
  font-size: 25px;
  padding: 22px 22px 22px 22px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.logo{
	text-align: center;
	margin-top: 22px;
}