<!DOCTYPE html>

<html>

<head>

	<title>Classement</title>

	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../style/classement.css">
	<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">


</head>

<body>

	<p class="text">Les meilleurs<br>joueurs</p>

			<table>

			   <tr>
			       <td>1</td>
			       <td>Joueur 1</td>
			       <td>620</td>
			   </tr>

			   <tr>
			       <td>2</td>
			       <td>Joueur 2</td>
			       <td>610</td>
			   </tr>		   

			   <tr>
			       <td>3</td>
			       <td>Joueur 3</td>
			       <td>600</td>
			   </tr>

			   <tr>
			       <td>4</td>
			       <td>Joueur 4</td>
			       <td>590</td>
			   </tr>		   

			   <tr>
			       <td>5</td>
			       <td>Joueur 5</td>
			       <td>580</td>
			   </tr>

			   <tr>
			       <td>6</td>
			       <td>Joueur 6</td>
			       <td>570</td>
			   </tr>		   

			   <tr>
			       <td>7</td>
			       <td>Joueur 7</td>
			       <td>560</td>
			   </tr>

			   <tr>
			       <td>8</td>
			       <td>Joueur 8</td>
			       <td>550</td>
			   </tr>		   

			   <tr>
			       <td>9</td>
			       <td>Joueur 9</td>
			       <td>540</td>
			   </tr>

			   <tr>
			       <td>10</td>
			       <td>Joueur 10</td>
			       <td>530</td>
			   </tr>

			</table>

	<div class="divbouton"><a href="../templates/home.html"> <input class="btn" type="button" value="RETOUR A L'ACCUEIL"/></a></div> <!-- Mettre le lien de la page d'accueil -->
	<div class="divbouton"><a href="../templates/score.html"> <input class="btn" type="button" value="RETOUR AU SCORE"/></a></div> <!-- Mettre le lien de la page d'accueil -->

</body>

</html>