<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>emoji</title>
    <link rel="stylesheet" href="../style/game.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <div class="top">

      <div id="timer"></div>
      <div class="btn-quitter">&#215</div>
      <div class="score"> <div id="scorejs">600 </div>&nbsppts</div>
    </div>


  <div class="phrase" id="phrasejs">
  </div>

<!-- Carte de saisie des emojis -->

<div class="champsemoji">
  <div class="saisie" id="backcolor1">
    <img src=""  width="50px" id="emojicase1">
  </div>
  <div class="saisie" id="backcolor2">
    <img src="" width="50px" id="emojicase2">
  </div>
  <div class="saisie" id="backcolor3">
    <img src="" width="50px" id="emojicase3">
  </div>
  <div class="saisie" id="backcolor4">
    <img src="" width="50px" id="emojicase4">
  </div>
  <div class="saisie" id="backcolor5">
    <img src="" width="50px" id="emojicase5">
  </div>
</div>

<!-- Grille des emojis -->

<div class="container">
  <div class="backemoji">
    <div class="titregrille">Choisissez des emojis</div>

<!-- Ligne 1 -->

    <div class="row">
      <div class="emojiimg col-2">
        <img onclick="fttest(this);" src="../assets/images/7.png" width="50px" id="img0">
      </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/112.png" width="50px" id="img1" >
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/123.png" width="50px" id="img2">
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/182.png" width="50px" id="img3">
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1021.png" width="50px" id="img4" >
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1030.png" width="50px" id="img5">
  </div>
</div>

<!-- Ligne 2 -->

<div class="row">
  <div class="emojiimg col-2" >
    <img onclick="fttest(this);" src="../assets/images/1033.png" width="50px" id="img6">
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1053.png" width="50px" id="img7">
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1069.png" width="50px" id="img8">
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1203.png" width="50px" id="img9">
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1245.png" width="50px" id="img10">
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1270.png" width="50px" id="img11">
  </div>
</div>

<!-- Ligne 3 -->

<div class="row">
  <div class="emojiimg col-2" >
    <img onclick="fttest(this);" src="../assets/images/1294.png" width="50px" id="img12">
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1314.png" width="50px" id="img13" >
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1330.png" width="50px" id="img14">
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1334.png" width="50px" id="img15">
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1418.png" width="50px" id="img16" >
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1600.png" width="50px" id="img17">
  </div>
</div>

<!-- Ligne 4 -->

<div class="row">
  <div class="emojiimg col-2" >
    <img onclick="fttest(this);" src="../assets/images/1636.png" width="50px" id="img18">
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1640.png" width="50px" id="img19" >
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1718.png" width="50px" id="img20">
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1732.png" width="50px" id="img21">
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1823.png" width="50px" id="img22" >
  </div>
  <div class="emojiimg col-2">
    <img onclick="fttest(this);" src="../assets/images/1498.png" width="50px" id="img23">
  </div>
</div>
</div>
</div>

  <script type="text/javascript">

// Variables texte

    var score = document.getElementById("scorejs");
    score.innerHTML="600";

    var phrase = document.getElementById("phrasejs");
    phrase.innerHTML="Ici des phrases en emoji";

// Variables images emoji

    var img = [7, 1636, 1640, 1718, 1732, 1823, 1498, 1294, 1330, 1314, 1334, 1418, 1600, 1033, 1053, 1069, 1203, 1245, 1270, 112, 123, 182, 1021, 1030];
    var num = 0;
    while (num < 24) {
      document.getElementById('img' + num).setAttribute('src', "../assets/images/" + img[num] + ".png");
      num = num + 1;
    }

//Fonction pour dire de passer a la case suivante

    function fttest(truc) {
      if (document.getElementById('emojicase1').getAttribute('src') == '') {
        document.getElementById('emojicase1').setAttribute('src', truc.getAttribute('src'));
      }
      else if (document.getElementById('emojicase2').getAttribute('src') == '') {
        document.getElementById('emojicase2').setAttribute('src', truc.getAttribute('src'));
      }

      else if (document.getElementById('emojicase3').getAttribute('src') == '') {
        document.getElementById('emojicase3').setAttribute('src', truc.getAttribute('src'));
      }

      else if (document.getElementById('emojicase4').getAttribute('src') == '') {
        document.getElementById('emojicase4').setAttribute('src', truc.getAttribute('src'));
      }
      else if (document.getElementById('emojicase5').getAttribute('src') == '') {
        document.getElementById('emojicase5').setAttribute('src', truc.getAttribute('src'));
      }

//Fonction de style CSS Shadow + Translate de la box

      if (document.getElementById('emojicase1').getAttribute('src') != '') {
        var elmt = document.getElementById("backcolor1");
        elmt.style.boxShadow = "0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)";
        elmt.style.transform = "translateY(-10px)";
      }

      if (document.getElementById('emojicase2').getAttribute('src') != '') {
        var elmt2 = document.getElementById("backcolor2");
        elmt2.style.boxShadow = "0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)";
        elmt2.style.transform = "translateY(-10px)";
      }

      if (document.getElementById('emojicase3').getAttribute('src') != '') {
        var elmt2 = document.getElementById("backcolor3");
        elmt2.style.boxShadow = "0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)";
        elmt2.style.transform = "translateY(-10px)";
      }

      if (document.getElementById('emojicase4').getAttribute('src') != '') {
        var elmt2 = document.getElementById("backcolor4");
        elmt2.style.boxShadow = "0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)";
        elmt2.style.transform = "translateY(-10px)";
      }

      if (document.getElementById('emojicase5').getAttribute('src') != '') {
        var elmt2 = document.getElementById("backcolor5");
        elmt2.style.boxShadow = "0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)";
        elmt2.style.transform = "translateY(-10px)";
      }
    };

//Fonction pour supprimer l'emoji de la case

    var deplaceremoji1 = document.getElementById('emojicase1');
    deplaceremoji1.addEventListener("click", suppemoji1, false);

    function suppemoji1() {
      document.getElementById('emojicase1').setAttribute('src', "");

      if (document.getElementById('emojicase1').getAttribute('src') == '') {
        var elmt1 = document.getElementById("backcolor1");
        elmt1.style.boxShadow = "0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)";
        elmt1.style.transform = "translateY(0px)";
      }
    };

    var deplaceremoji2 = document.getElementById('emojicase2');
    deplaceremoji2.addEventListener("click", suppemoji2, false);

    function suppemoji2() {
      document.getElementById('emojicase2').setAttribute('src', "");

      if (document.getElementById('emojicase2').getAttribute('src') == '') {
        var elmt2 = document.getElementById("backcolor2");
        elmt2.style.boxShadow = "0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)";
        elmt2.style.transform = "translateY(0px)";
      }
    };

    var deplaceremoji3 = document.getElementById('emojicase3');
    deplaceremoji3.addEventListener("click", suppemoji3, false);

    function suppemoji3() {
      document.getElementById('emojicase3').setAttribute('src', "");

      if (document.getElementById('emojicase3').getAttribute('src') == '') {
        var elmt3 = document.getElementById("backcolor3");
        elmt3.style.boxShadow = "0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)";
        elmt3.style.transform = "translateY(0px)";
      }
    };

    var deplaceremoji4 = document.getElementById('emojicase4');
    deplaceremoji4.addEventListener("click", suppemoji4, false);

    function suppemoji4() {
      document.getElementById('emojicase4').setAttribute('src', "");

      if (document.getElementById('emojicase4').getAttribute('src') == '') {
        var elmt4 = document.getElementById("backcolor4");
        elmt4.style.boxShadow = "0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)";
        elmt4.style.transform = "translateY(0px)";
      }
    };

    var deplaceremoji5 = document.getElementById('emojicase5');
    deplaceremoji5.addEventListener("click", suppemoji5, false);

    function suppemoji5() {
      document.getElementById('emojicase5').setAttribute('src', "");

      if (document.getElementById('emojicase5').getAttribute('src') == '') {
        var elmt5 = document.getElementById("backcolor5");
        elmt5.style.boxShadow = "0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)";
        elmt5.style.transform = "translateY(0px)";
      }
    };

var secondes = 01;
var minutes = 2;
document.getElementById('timer').innerHTML = minutes + ":" + secondes;
startTimer();

function startTimer() {
  var presentTime = document.getElementById('timer').innerHTML;
  var timeArray = presentTime.split(/[:]+/);
  var m = timeArray[0];
  var s = checkSecond((timeArray[1] - 1));
  if(s == 59){
    m = m-1;
  }
  if (s < 10 && m == 0) {
    var couleur = document.getElementById('timer');
    couleur.style.backgroundColor = "#fd7e14";
    couleur.style.color ="white";
  }
  //if(m<0){alert('timer completed')}

  document.getElementById('timer').innerHTML =
    m + ":" + s;
  setTimeout(startTimer, 1000);
}

function checkSecond(sec) {
  if (sec < 10 && sec >= 0) {
    sec = "0" + sec
  }; // add zero in front of numbers < 10
  if (sec < 0) {
    sec = "59"
  };
  return sec;
}


    </script>
  </body>
</html>
