<!doctype html>
<html>
  <head>
    <title>Emojis Projet</title>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <link rel="stylesheet" href="../style/home.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
  </head>
  <body>

      <div class="hola">
      <div class="name"><input type="text" placeholder="VOTRE NOM"></div>
      <br>
      <div class="bouton"><a id="tuto" href="#">VOIR LE TUTO</a></div>
      <div class="bouton"><a href="game.html">COMMENCER A JOUER</a></div>
    </div>

  </body>
</html>
