<!DOCTYPE html>

<html>

<head>

	<title>Score</title>

	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../style/score.css">
	<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">

</head>

<body>

	<div class="logo"><img src="../assets/images/img.png"></div>
	<p class="bravo">BRAVO $PSEUDO<br>TU AS OBTENU<br>600 <FONT size="5px">points </p>
	<div class="divbouton"><a href="https://www.google.com"> <input class="btn" type="button" value="RECOMMENCER A JOUER"/></a></div>	<!-- Mettre le lien de la page 2 -->


</body>

</html>
